<div class="container">
  <div class="row justify-content-around align-items-center">
    <div class="col-6">
      <div class="card mt-4">
        <div class="card-header text-center">
          <h5>REGÍSTRATE PARA CONCURSAR POR UN AUTOMÓVIL</h5>
        </div>
        <div class="card-body">
          <form>  
            <div class="container-fluid">

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Ingrese su nombre" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Ingrese su apellido" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label">Cédula</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Ingrese su cédula" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                      <label class="form-label">Departamento</label>
                      <select class="form-select form-select-sm">
                        <option selected>Seleccione una opción</option>
                        <option>...</option>
                      </select>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                      <label class="form-label">Ciudad</label>
                      <select class="form-select form-select-sm">
                        <option selected>Seleccione una opción</option>
                        <option>...</option>
                      </select>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    <input type="phone" class="form-control form-control-sm" placeholder="Ingrese su teléfono" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label">Correo</label>
                    <input type="email" class="form-control form-control-sm" placeholder="Ingrese su correo" />
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      <p style="text-align: justify;">
                        Autorizo el tratamiento de mis datos de acuerdo con la finalidad establecida en la política de protección de datos personales.
                      </p>
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-12 d-flex gap-5">
                <button type="submit" class="btn btn-outline-primary">Registrarme para concursar</button>
                <button type="submit" class="btn btn-outline-secondary"> Descargar archivos de Excel</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-3 text-center">
      <button class="btn btn-outline-success">Da clic para participar del sorteo</button>
      <br>
      <small>El sorteo se realizará al menos con 5 participantes</small>
    </div>
  </div>
</div>