<div class="container">
  <div class="row justify-content-around align-items-center">
    <div class="col-6">
      <div class="card mt-4">
        <div class="card-header text-center">
          <h5>REGÍSTRATE PARA CONCURSAR POR UN AUTOMÓVIL</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="customerForm" (ngSubmit)="handleSubmit()">  
            <div class="container-fluid">

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" formControlName="name" class="form-control form-control-sm" placeholder="Ingrese su nombre" required />
                    <small *ngIf="customerForm.get('name')?.invalid && customerForm.get('name')?.touched" class="text-danger">
                      Nombre es requerido y debe contener solo letras.
                    </small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input type="text" formControlName="lastName" class="form-control form-control-sm" placeholder="Ingrese su apellido" required />
                    <small *ngIf="customerForm.get('lastName')?.invalid && customerForm.get('lastName')?.touched" class="text-danger">
                      Apellido es requerido y debe contener solo letras.
                    </small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label">Cédula</label>
                    <input type="number" formControlName="identityNumber" class="form-control form-control-sm" placeholder="Ingrese su cédula" required />
                    <small *ngIf="customerForm.get('identityNumber')?.invalid && customerForm.get('identityNumber')?.touched" class="text-danger">
                      Cédula es requerida y debe contener solo números.
                    </small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                      <label class="form-label">Departamento</label>
                      <select class="form-select form-select-sm" formControlName="departmentId" required (change)="getCities()">
                        <option [value]="0" disabled>Seleccione una opción</option>
                        @for (department of departments; track department.id) {
                          <option [value]="department.id">{{ department.name }}</option>
                        }
                      </select>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                      <label class="form-label">Ciudad</label>
                      <select class="form-select form-select-sm" formControlName="cityId" required>
                        <option [value]="0" disabled>Seleccione una opción</option>
                        @for (city of cities; track city.id) {
                          <option [value]="city.id">{{ city.name }}</option>
                        }
                      </select>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    <input type="phone" formControlName="phoneNumber" class="form-control form-control-sm" placeholder="Ingrese su teléfono" required />
                    <small *ngIf="customerForm.get('phoneNumber')?.invalid && customerForm.get('phoneNumber')?.touched" class="text-danger">
                      Teléfono es requerido y debe contener solo números.
                    </small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="form-label">Correo</label>
                    <input type="email" formControlName="email" class="form-control form-control-sm" placeholder="Ingrese su correo" required />
                    <small *ngIf="customerForm.get('email')?.invalid && customerForm.get('email')?.touched" class="text-danger">
                      Correo es requerido y debe tener un formato válido.
                    </small>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="habeasDataConsent" required />
                    <label class="form-check-label">
                      <p style="text-align: justify;">
                        Autorizo el tratamiento de mis datos de acuerdo con la finalidad establecida en la política de protección de datos personales.
                      </p>
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-12 d-flex gap-5">
                <button type="submit" [disabled]="!customerForm.valid" class="btn btn-outline-primary">Registrarme para concursar</button>
                <button type="button" class="btn btn-outline-secondary" (click)="downloadExcel()"> Descargar archivos de Excel</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-3 text-center">
      <button type="button" class="btn btn-outline-success" (click)="selectWinner()">Clic aquí para participar del sorteo</button>
      <br>
      <small>El sorteo se realizará al menos con 5 participantes</small>
    </div>
  </div>
</div>