<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            @if (winnerName) {
                <h4>El ganador es {{ winnerName }} 🎉</h4>
            }
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="button" class="btn btn-outline-success" (click)="selectWinner()">
                Clic aquí para participar del sorteo
            </button>
            <br>
            <small>El sorteo se realizará al menos con 5 participantes</small>
        </div>
    </div>
</div>
